
<!DOCTYPE html>
<html>
<head>
	{{ html.head() }}
	<title>{{ lesli.info.name }} &bull; {{ lesli.info.description }} </title>
	{{ html.css() }}
</head>
<body>
{% block content %}{% endblock %}

{{ html.js('slides', 'Template') }}

{% include template.partial('tracking') %}

</body>
</html>
