---
title: A.I. & Software Development
layout: slide
---
%main.slides

    %section
        = image_tag 'slides/ai-and-software-development/ai-and-software-development.svg'
        %h1 A. I. and Software Development
        %hr
        %h2 Building smart apps

    %section
        = partial "partials/_about"

    %section
        %h1 Que es la I. A.?
        %hr
        %h2 Simulacion artificial de una tarea intelectual
        %p 1940 primera idea de construccion de cerebro electronico
        %p 1956 se funda la primera institucion para la investigacion A. I.

    %section
        = image_tag 'slides/ai-and-software-development/kasparov-deepblue.jpg'

    %section
        = image_tag 'slides/ai-and-software-development/leesedol-alphago.jpg'

    %section
        %h1 Machine learning
        %hr
        %p neurona/perceptron
        %p Red neuronal

    %section
        %h1 Como funciona?
        %hr
        %ul
            %li Aprendizaje supervisado
            %li Aprendizaje no supervisado
            %li Aprendizaje reforzado
            %li models

    %section
        %h1 Que podemos hacer?
        %hr
        %ul
            %li predictive analytics
            %li test automation
            %li cognitive automation
            %li bring smart capabilities to software

    %section
        %h1 Que podemos hacer? (advanced)
        %hr
        %ul
            %li predictive actions
            %li data forecasting
            %li natural process language
            %li object recognition

    %section
        %h1 Herramientas
        %hr
        %ul
            %li tensorflow
            %li tesseract
            %li brainjs

    %section
        %h1 Herramientas (advanced)
        %hr
        %ul
            %li Firebase ML
            %li Cloud TPU 

    %section
        %h1 Tensorflow
        %hr

    %section 
        %h1 Demos
        %hr
        %ul
            %li
                = link_to 'Toxicity', '/demos/talks/ai-and-software-development/toxicity', target: '_blank'
            %li
                = link_to 'COCO ssd', '/demos/talks/ai-and-software-development/coco-ssd', target: '_blank'
            %li
                = link_to 'COCO ssd realtime', '/demos/talks/ai-and-software-development/coco-ssd-realtime', target: '_blank'

    %section
        = partial "partials/_questions"

    %section
        = partial "partials/_thanks"

-#
    https://es.wikipedia.org/wiki/Historia_de_la_inteligencia_artificial
    http://www.nexolution.com/como-funciona-el-aprendizaje-automatico-machine-learning/
    https://tesseract.projectnaptha.com/
    https://brain.js.org/#/
