---
title: Software/Hardware Developer Roadmap
layout: slide
---

<main class="slides">

    <section>
        <%= image_tag 'slides/software-development-roadmap/software-development-roadmap.png' %>
        <h1>Software Development</h1>
        <hr />
        <h2>An Unexpected Journey</h2>
    </section>

    <section>
        <%= partial "partials/_about" %>
    </section>

    <section class="video-bg"> 
        <article>
            <h1>Agenda</h1>
            <hr />
            <p></p>
            <p>Protocols</p>
            <p>Database</p>
            <p>Backend</p>
            <p>Frontend</p>
            <p>Mobile</p>
        </article>
        <video width="400" autoplay loop>
            <source src="/videos/to-start-press-any-key.mp4" type="video/mp4">
        </video> 
    </section>

    <section>
        <article>
            <h1>Best to have:</h1>
            <hr>
            <p>Solve problems</p>
            <p>Curiosity</p>
            <p>Always learning</p>
            <p>Love for books</p>
        </article>
        <%= image_tag 'gifs/project-i-never-wanted.gif', class: "gif-bg" %>
    </section>

    <section class="video-bg"> 
        <%= image_tag 'mms/unit-tests-everywhere.jpg' %>
    </section>

    <section>
        <%= image_tag 'mms/in-case-of-fire-git-commit.jpg', class: "gif-bg" %>
    </section>

    <section>
        <article>
            <h1>Linux</h1>
        </article>
        <%= image_tag 'gifs/watching.gif', class: "gif-bg" %>
    </section>

    <section class="video-bg"> 
        <article>
            <h1>English</h1>
        </article>
        <%= image_tag 'gifs/working-on-bored-project.gif', class: "gif-bg" %>
    </section>

    <section class="video-bg"> 
        <article>
            <h1>Development methodologies</h1>
            <hr>
            <p>Agile development</p>
            <p>Waterfall</p>
            <p>Extreme programming</p>
        </article>
        <%= image_tag 'gifs/intern-coding.gif', class: "gif-bg" %>
    </section>

    <section>
        <h1>Protocols</h1>
        <hr>
        <p>http &bull; mqtt &bull; ws &bull; ssh</p>
    </section>

    <section>
        <%= image_tag 'slides/software-development-roadmap/database.map.svg' %>
    </section>

    <section>
        <%= image_tag 'slides/software-development-roadmap/backend.map.svg' %>
    </section>

    <section>
        <%= image_tag 'slides/software-development-roadmap/frontend.map.svg' %>
    </section>

    <section>
        <%= image_tag 'slides/software-development-roadmap/mobile.map.svg' %>
    </section>

<section class="video-bg"> 
        <article>
            <h1>Development practices</h1>
            <hr>
            <p>Continuous integration</p>
            <p>Continuous delivery</p>
        </article>
        <%= image_tag 'gifs/continuous-delivery.gif', class: "gif-bg" %>
    </section>

    <section>
        <article>
            <h1>Now you have the power</h1>
        </article>
        <%= image_tag 'gifs/power.gif', class: "gif-bg" %>
    </section>

    <section>
        <%= image_tag 'gifs/money.gif', class: "gif-bg" %>
    </section>

    <section>
        <%= partial "partials/_questions" %>
    </section>

    <section>
        <%= partial "partials/_thanks" %>
    </section>

</main>
